@import "../../styles/variables.scss";

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  float: left;
  flex: 1;
  color: $white;
}

.search {
  max-width: 400px;
}

.right {
  flex: 1;
}

.site-layout .site-layout-background {
  background: #fff;
}